In [7]:
# Pointing the json key file of google cloud service account to local copy
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='key.json'

In [8]:
from google.cloud import bigquery

In [9]:
# Create a 'Client' Object
client = bigquery.Client()

In [10]:
# In BigQuery, each dataset is contained in a corresponding project. In this case, our hacker_news dataset is contained in the bigquery-public-data project.

# Construct a reference to the 'hacker-news' dataset
dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [11]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [12]:
#  Construct a reference to the "full" table
table_ref = dataset_ref.table('full')

# API request - fetch the table
table = client.get_table(table_ref)

![title](./img/bigquery.png)

In [13]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset

table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [14]:
# Preview the first five lines of the "full" table

client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,The trouble with computer security &quot;defen...,None,Animats,NaN,1452382620,2016-01-09 23:37:00+00:00,comment,10873338,10871222,NaN,NaN,None
1,None,None,That doesn&#x27;t help much when you&#x27;re i...,None,Grishnakh,NaN,1452382603,2016-01-09 23:36:43+00:00,comment,10873336,10871800,NaN,NaN,None
2,None,None,"Are device drivers <i>ever</i> updated, much l...",None,cbd1984,NaN,1452382579,2016-01-09 23:36:19+00:00,comment,10873334,10873317,NaN,NaN,None
3,None,None,To be specific about my claim: throwing away t...,None,JackC,NaN,1452382571,2016-01-09 23:36:11+00:00,comment,10873333,10865548,NaN,NaN,None
4,None,None,"Meanwhile, San Francisco can&#x27;t muster the...",None,capkutay,NaN,1452382557,2016-01-09 23:35:57+00:00,comment,10873332,10873211,NaN,NaN,None

In [15]:
# Preview the first five entries in the "by" column of the "full" table

client.list_rows(table, selected_fields=table.schema[4:5], max_results=5).to_dataframe()

          by
0    Animats
1  Grishnakh
2    cbd1984
3      JackC
4   capkutay

### **EXERCISE**

In [16]:
# Fetch The DataSet

from google.cloud import bigquery

# Create a 'Client' object
exclient = bigquery.Client()

# Construct a reference to the 'chicago_crime' dataset
exdataset_ref = client.dataset('chicago_crime', project='bigquery-public-data')

# API request - fetch the dataset
exdataset = client.get_dataset(exdataset_ref)

**1] Count tables in the dataset**

In [17]:
# List the tables in the dataset
tables = list(exclient.list_tables(exdataset))

for table in tables:
    print(table.table_id)

crime

In [18]:
# Count the number of tables in the dataset

num_tables = len(tables)
print(num_tables)

1

**2] Explore the table schema**

In [19]:
#  Construct a reference to the "full" table
table_ref = exdataset_ref.table('crime')

# API request - fetch the table
table = exclient.get_table(table_ref)

client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,10246123,HY434120,2015-09-19 00:01:00+00:00,107XX S AVENUE E,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,OTHER,False,False,...,10,52,11,1203836.0,1834299.0,2015,2018-02-10 15:50:01+00:00,41.700006,-87.529244,"(41.700006196, -87.529244454)"
1,10249320,HY436757,2015-09-23 22:30:00+00:00,023XX N OAK PARK AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,VEHICLE NON-COMMERCIAL,False,False,...,36,18,26,1130692.0,1914937.0,2015,2018-02-10 15:50:01+00:00,41.922853,-87.795223,"(41.922853085, -87.795223066)"
2,10251049,HY438471,2015-09-24 00:01:00+00:00,052XX N PITTSBURGH AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,STREET,False,False,...,41,10,26,1120336.0,1933652.0,2015,2018-02-10 15:50:01+00:00,41.974381,-87.832874,"(41.974381465, -87.832873852)"
3,10289907,HY477895,2015-10-26 15:00:00+00:00,052XX W 63RD PL,1185,DECEPTIVE PRACTICE,DECEPTIVE COLLECTION PRACTICES,RESIDENCE,False,False,...,13,64,11,1142388.0,1862000.0,2015,2018-02-10 15:50:01+00:00,41.777377,-87.753561,"(41.777377147, -87.753560657)"
4,10298702,HY487110,2015-11-02 21:00:00+00:00,043XX S KEELER AVE,0920,MOTOR VEHICLE THEFT,ATT: AUTOMOBILE,STREET,False,False,...,14,57,07,1149068.0,1875589.0,2015,2018-02-10 15:50:01+00:00,41.814541,-87.728721,"(41.814541249, -87.728721044)"

In [20]:
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', (), None),
 SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', (), None),
 SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None),
 SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None)]

**How many columns in the crime table have TIMESTAMP data?**

In [21]:
num_timestamp_fields = 2

print(num_timestamp_fields)

2

#### 3] Create a crime map

In [22]:
# what are the names of the two fields you likely need to pull out of the crime table to plot the crimes on a map?

client.list_rows(table, selected_fields=table.schema[15:17], max_results=5).to_dataframe()

   x_coordinate  y_coordinate
0     1203836.0     1834299.0
1     1130692.0     1914937.0
2     1120336.0     1933652.0
3     1142388.0     1862000.0
4     1149068.0     1875589.0

In [23]:
fields_for_plotting = ['x_coordinate', 'y_coordinate']

print(fields_for_plotting)

['x_coordinate', 'y_coordinate']